<h1>HEADER VA AQUI</h1>
<div class="form">
<h1>Reservar {{pelicula.Title}}</h1>
<label>
    Nombre:
    <input type="text" name="" id="name">
</label>
<label>
    Apellido:
    <input type="text" name="" id="lastname">
</label>
<label>
    Cedula:
    <input type="text" name="" id="cedula">
</label>
<label>
    Email:
    <input type="text" name="" id="email">
</label>   
<label>
    Cantidad de asientos:
    <input type="text" name="" id="seats">
</label>  

<button (click)="morision()">FINALIZAR</button>
<!-- <div id="boton" (click)="morision()" routerLink=""><p>FINALIZAR</p></div> -->
</div>
